nav >ul{
    display: flex;

}
nav li:Hover{
    background-color: brown;
}
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 2px 20px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav > ul> li:hover > ul{
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: lightseagreen;
    padding: 0;
}
.dropdown li{
    padding: 0 25px;
    margin: 0;
    
}